# Ignore saved images
*.tar

# Ignore files with secrets (use *.example files)
files/config
files/hostname
files/uname
files/mail_users.csv
Dockerfile
docker-compose.yml

# Ignore dev files
iRedMail-0.9.0/*
/depricated/
