
export VMAIL_USER_HOME_DIR='/var/vmail'
export STORAGE_BASE_DIR='/var/vmail'
export STORAGE_MAILBOX_DIR='/var/vmail/vmail1'
export SIEVE_DIR='/var/vmail/sieve'
export BACKUP_DIR='/var/vmail/backup'
export BACKUP_SCRIPT_OPENLDAP='/var/vmail/backup/backup_openldap.sh'
export BACKUP_SCRIPT_MYSQL='/var/vmail/backup/backup_mysql.sh'
export BACKUP_SCRIPT_PGSQL='/var/vmail/backup/backup_pgsql.sh'
export DEFAULT_WEB_SERVER='APACHE'
export BACKEND_ORIG='OPENLDAP'
export BACKEND='OPENLDAP'
!!!export VMAIL_DB_BIND_PASSWD='password_random'
!!!export VMAIL_DB_ADMIN_PASSWD='password_random'
!!!export LDAP_BINDPW='password_random'
!!!export LDAP_ADMIN_PW='password_random'
export DEFAULT_PASSWORD_SCHEME='SSHA'
!export dn2dnsname="example.com"
!export LDAP_SUFFIX="dc=example,dc=com"
!export LDAP_SUFFIX_MAJOR="example"
!export LDAP_BINDDN="cn=vmail,dc=example,dc=com"
!export LDAP_ADMIN_DN="cn=vmailadmin,dc=example,dc=com"
!export LDAP_ROOTDN="cn=Manager,dc=example,dc=com"
!export LDAP_BASEDN_NAME="domains"
!export LDAP_BASEDN="o=domains,dc=example,dc=com"
!export LDAP_ADMIN_BASEDN="o=domainAdmins,dc=example,dc=com"
!!export LDAP_ROOTPW='password_ldap'
!!export MYSQL_ROOT_PASSWD='password_db'
export MYSQL_ROOT_USER='root'
export SQL_SERVER='127.0.0.1'
export SQL_SERVER_PORT='3306'
!export FIRST_DOMAIN='example.com'
export DOMAIN_ADMIN_NAME='postmaster'
!export SITE_ADMIN_NAME='postmaster@example.com'
!!export DOMAIN_ADMIN_PASSWD_PLAIN='password_pm'
!!export DOMAIN_ADMIN_PASSWD='password_pm'
!!export SITE_ADMIN_PASSWD='password_pm'
export FIRST_USER='postmaster'
!!export FIRST_USER_PASSWD='password_pm'
!!export FIRST_USER_PASSWD_PLAIN='password_pm'
export ENABLE_DKIM='YES'
export USE_IREDADMIN='YES'
export USE_RCM='YES'
export USE_SOGO='YES'
export USE_AWSTATS='YES'
export USE_FAIL2BAN='YES'
!!!export AMAVISD_DB_PASSWD='password_random'
!!!export CLUEBRINGER_DB_PASSWD='password_random'
!!!export IREDADMIN_DB_PASSWD='password_random'
!!!export RCM_DB_PASSWD='password_random'
!!!export SOGO_DB_PASSWD='password_random'
!!!export SOGO_SIEVE_MASTER_PASSWD='password_random'
#EOF
